<nz-card nzTitle="文章管理" class="article">
  <button nz-button nzType="primary" class="article-create" (click)="onDetailClick()">写新文章</button>

  <nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>id</th>
        <th>标题</th>
        <th>分类</th>
        <th>发布时间</th>
        <th>更新时间</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data">
        <td>{{item._id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.category || '无'}}</td>
        <td>{{item._created}}</td> 
        <td>{{item._updated}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="文章管理"
  [nzOkLoading]="isOkLoading"
  [nzFooter]="null"
  >
  <form
    nz-form
    [formGroup]="validateForm"
    >
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">标题</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input you title!">
      <input nz-input formControlName="title" id="title" />
    </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="content" nzRequired>内容</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your content!">
        <input
          nz-input
          type="text"
          id="content"
          formControlName="content"
          />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item [style.textAlign]="'center'">
      <nz-form-control>
        <button nz-button (click)="handleCancel()" [style.marginRight]="'8px'">取消</button>
        <button nz-button (click)="handleOk()"  zType="primary" [disabled]="!validateForm.valid">保存</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div id="md" *ngIf="isVisible" appEditorMd [editormdConfig]="conf" (editorChange)="syncModel($event)" >
    <textarea style="display: block;" [(ngModel)]="markdown"></textarea>
  </div>

  <!--<markdown src="/assets/README.md" lineNumbers [start]="5"></markdown>-->
  </nz-modal>

