<ul nz-menu [nzMode]="'inline'" [nzTheme]="'dark'" [nzInlineCollapsed]="isCollapsed">
  <li nz-submenu [nzTitle]="!isCollapsed ? '导航' : ''" nzIcon="appstore" nzOpen>
    <ul>
      <li class="menu-inline" nz-menu-item nzMatchRouterExact="true">
        <i nz-icon nzType="setting"></i>
        <a [routerLink]="'/article'">文章管理</a>
      </li>
      <li class="menu-inline" nz-menu-item nzMatchRouterExact="true">
        <i nz-icon nzType="setting"></i>
        <a [routerLink]="'/category'">文章分类管理</a>
      </li>
      <li nz-submenu nzTitle="特殊管理" nzIcon="appstore">
        <ul>
          <li nz-menu-item>用户管理</li>
          <li nz-menu-item>文章管理</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

